*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    /* overflow-x: hidden; */
    

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
/* index page */
#page{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 8vh;
    width: 100vw;
    background-color:#000;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #fff;
    background-color: rgba(0, 255, 255, 0.148);
}
#page>nav>h3>a{
    color: inherit;
    text-decoration: none;

}
#page>nav>div>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
    background-color: #fff;
}
#page > nav > div > button {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#page > nav > div > button:hover {
    transition-delay: 0.3s;
    transform: scale(1.1);
    background-color: rgba(0, 255, 255, 0.148);
}

/* #page>nav>div>button:hover{
    scale: 1.15;
    background-color: rgba(0, 255, 255, 0.148);

} */

#page > nav > h3 {
    margin: 0;
    color: #fff;
}
.but>button>a{
    color: inherit;
    text-decoration: none;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: red;
}
#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#popup {
    background-color: rgba(0, 255, 255, 0.148);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    
}

#popup>h2 {
    margin-bottom: 20px;
}

#close-popup-button {
    background: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;

}
#close-popup-button {
    background: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;

}
#buyer-button>a,#seller-button>a{
    color: inherit;
    text-decoration: none;

}

#buyer-button,#seller-button {
    background: #0cee108e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
}

/* seller login page */
#sellerpage{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    
}

#sellerpage > nav > div > button {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#sellerpage > nav > div > button:hover {
    transition-delay: 0.3s;
    transform: scale(1.1);
    background-color: rgba(0, 255, 255, 0.148);
}
#sellerpage>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 8vh;
    width: 100vw;
    background-color:#000;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #fff;
    background-color: rgba(0, 255, 255, 0.148);
}
#sellerpage>nav>div>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
    background-color: #fff;
}
#sellerpage>nav>h3{
    margin: 0;
    color: #fff;
}
.Parent { 
    display: flex; 
    flex-direction: row; 
    padding-top: 8vh;
} 

.left { 
    width: 55%; 
    height: 100vh; 
    background-color: green; 
    text-align: right; 
    color: white; 
} 
.left>img { 
    width: 100%; 
    height: 140%; 
    padding-bottom: 20vh;
    margin-top: -10vh;
     
} 
.right { 
    width: 45%; 
    color: green; 
    height: 100vh;
    padding-top:20vh 
} 

.login-container {
    width: 350px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #1b1a1a;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 255, 255, 0.491);
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-container:hover {
    transform: scale(1.05); /* Scale the container on hover */
    box-shadow: 10px 10px 20px rgba(0, 255, 255, 0.7);
}

.login-container h2 {
    text-align: center;
    color: rgba(0, 255, 255, 0.491);
    transition: color 0.3s;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 0;
    border-radius: 12px;
    background-color: rgba(55, 72, 72, 0.148);
    margin-top: 20px;
    height: 50px;
    transition: background-color 0.3s;
}

.login-container input[type="email"]::placeholder,
.login-container input[type="password"]::placeholder {
    color: rgba(0, 255, 255, 0.491);
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    /* background-color: rgba(0, 255, 255, 0.3); */
    border: 1px solid rgba(0, 255, 255, 0.3);
}

.login-container button {
    width: 47%;
    padding: 10px;
    margin-right: 10px;
    color: rgba(0, 255, 255, 0.491);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    height: 50px;
    background-color: rgba(0, 255, 255, 0.148);
    transition: background-color 0.3s;
}

.login-container button[type="reset"] {
    margin-right: 0;
}

.login-container button:hover {
    background-color: rgba(0, 255, 255, 0.3); /* Change background on hover */
}

/* buyer login page */
#buyerpage{
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#buyerpage > nav > div > button {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#buyerpage > nav > div > button:hover {
    transition-delay: 0.3s;
    transform: scale(1.1);
    background-color: #f4a36164;
}
#buyerpage>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 8vh;
    width: 100vw;
    background-color:#000;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #fff;
    background-color: #f4a36164;
}
#buyerpage>nav>div>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
    background-color: #fff;
    
}
#buyerpage>nav>h3{
    margin: 0;
    color: #fff;
}
.buyerParent { 
    display: flex; 
    flex-direction: row; 
    padding-top: 8vh;
} 

.buyerleft { 
    width: 55%; 
    height: 100vh; 
    background-color: green; 
    text-align: right; 
    color: white; 
} 

.buyerright { 
    width: 45%; 
    color: green; 
    height: 100vh;
    padding-top:20vh 
} 
.buyerleft>img { 
    width: 100%; 
    height: 160%; 
    padding-bottom: 20vh;
    margin-top: -20vh;
     
} 
.buyerlogin-container {
    width: 350px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #1b1a1a;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(244, 163, 97, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.buyerlogin-container:hover {
    transform: scale(1.05); /* Scale the container on hover */
    box-shadow: 10px 10px 20px rgba(244, 163, 97, 0.6); /* Change box-shadow on hover */
}

.buyerlogin-container h2 {
    text-align: center;
    color: #F4A261;
    transition: color 0.3s;
}

.buyerlogin-container input[type="email"],
.buyerlogin-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 0;
    border-radius: 12px;
    
    background-color: rgba(55, 72, 72, 0.148);
    margin-top: 20px;
    height: 50px;
    transition: background-color 0.3s;
}

.buyerlogin-container input[type="email"]::placeholder,
.buyerlogin-container input[type="password"]::placeholder {
    color: #F4A261;
}

.buyerlogin-container input[type="email"]:focus,
.buyerlogin-container input[type="password"]:focus {
    border: 1px solid #f4a36164;
    
}

.buyerlogin-container button {
    width: 47%;
    padding: 10px;
    margin-right: 10px;
    color: #F4A261;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    height: 50px;
    background-color: #f4a36164;
    transition: background-color 0.3s;
}

.buyerlogin-container button[type="reset"] {
    margin-right: 0;
}

.buyerlogin-container button:hover {
    
    border: 1px solid #f4a36164;
}


.buyerlogin-container button[type="reset"] {
    margin-right:0px;
}

